<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Santa_Helena_Campestre.Properties.Settings.SantaHelenaConnectionString"
            connectionString="Data Source=.;Initial Catalog=SantaHelena;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Santa_Helena_Campestre.Properties.Settings.Santa_Helena_CampestreConnectionString"
            connectionString="Data Source=.;Initial Catalog=&quot;Santa Helena Campestre&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>