Autor de codigo e interfaces: Alexis León Valero
Gracias especiales: 
Lina Melo por auditar mi trabajo.
Andres Torres por responderme 2 preguntas.
Judy Valero por brindarme apoyo moral.
Daniela Siachoque por brindarme apoyo moral.
Este proyecto forma parte de la elaboración de un trabajo para la materia "Proyecto de Grado".
Tunja 13/Mayo/2024.